
<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

            


            
            <div class="d-flex bg-info mb-5 sticky-top" id="sidebar">
                <div class="p-2 sticky-top" id="left_side_content">
                    <a href="./categories"><h5> <u>Categories</u> </h5> </a>
                    <br>
                      <ul>
                        <li>
                          first
                        </li>
                        <li>
                          second
                        </li>
                        <li>
                          third
                        </li>
                        <li>
                          fourth
                        </li>
                        <li>
                          fifth
                        </li>
                        <li>
                          sixth
                        </li>
                        <li>
                          seventh
                        </li>
                      </ul>
      
                </div>



                <div class="container-fluid" id="categories_table">
                    <h1>HELLOOO</h1>


                </div>
                         <!--right side bar, describing leaderboard-->
               
                  <div class="ml-auto p-2" id="right_side_content">
                    <a href="./leaderboard"><h5> <u>Leaderboard</u> </h5> </a>
                         </div>
                         </div>
                         
                         
                         
<%- include('../partials/footer') %>	