    
              </body>
    
    
    
     
    
            </body>

            <div class="footer">
              <div class="social__media--wrap">
                  <p class="website__rights">Triviago 2022. All rights "reserved"</p>
                  <div class="social__icons">
                      <a href="https://github.com/cub-csci-3308-spring-2022/csci-3308-spring22-017-01/tree/main" class="social__icon--link" target="_blank">
                          <i class="fab fa-github"></i>
                      </a>

                      
                  </div>
              </div>
          </div>
          
          </html>